.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

body {
    display: flex;
    justify-content: center;
}

#view1_1, #view1_2,
#view2_1, #view2_2, 
#view3_1, #view3_2, #view3_3, #view3_4,
#view4_1, #view4_2, #view4_3 {
    width: 100%;
    height: 100%;
    max-width: 800px;
}